@keyframes brettface {
  from{opacity: 0;}
  to{opacity: 1;}
}

@-webkit-keyframes brettface {
  from{opacity: 0;}
  to{opacity: 1;}
}

.brettsface{
  animation-name: brettface;
  animation-delay: 0.5s;
  animation-duration: 5s;
  border-radius: 50%;
}
@keyframes paulsface {
  from{opacity: 0;}
  to{opacity: 1;}
}

@-webkit-keyframes paulsface {
  from{opacity: 0;}
  to{opacity: 1;}
}

.Arden{
  animation-name: paulsface;
  animation-delay: 0.5s;
  animation-duration: 5s;
  border-radius: 50%;
  width: 25%;
}
.app{
  animation-name: paulsface;
  animation-delay: 0.5s;
  animation-duration: 5s;
}

.button{
  animation-name: paulsface;
  animation-delay: 0.5s;
  animation-duration: 5s;
}

.game{
  animation-name: paulsface;
  animation-delay: 0.5s;
  animation-duration: 5s;
}

.game2{
  animation-name: paulsface;
  animation-delay: 0.5s;
  animation-duration: 5s;
}

.owo{
  animation-name: paulsface;
  animation-delay: 0.5s;
  animation-duration: 5s;
}

.settings{
  animation-name: paulsface;
  animation-delay: 0.5s;
  animation-duration: 5s;
}

.text{
  animation-name: paulsface;
  animation-delay: 0.5s;
  animation-duration: 5s;
}

.text2{
  animation-name: paulsface;
  animation-delay: 0.5s;
  animation-duration: 5s;
}

.center{
  text-align: center;
  display: block;
  margin: 0 auto;
}
h1{
 color: #A12C2B;
}

h3{
  color: #A12C2B;
}


p1{
  font-family: 'Ubuntu', sans-serif;
  padding-top: 20px;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #F8F8F8;
  margin: 0px;
  width: 100%;
}
li{
 display: inline;
  padding: 10px;
}
.nav-item{
display: inline;
  padding: 10px;
  font-size: 20px;

}
.nav-link{
  text-decoration: none;
  color: #F8F8F8;
}

.nav-link:hover{
  color: #A12C2B;
  font-size: 22px;
}

.nav{
  margin: 0px 0px 10px 0px;
  padding: 0px;
  background-color: grey;
}
.nav-container{
  margin: 0px 0px 10px 0px;
  padding: 10px 0px;

}
